In [34]:
import pandas as pd
import numpy as np
import datetime

In [35]:
uni_df = pd.read_csv('unicorn_companies.csv')
uni_df.head()

,Company,Valuation ($B),Date Added,Country,Category,Select Investors
0,Bytedance,$140.00,4/7/17,China,Artificial intelligence,"Sequoia Capital, SIG Asia Investments, Sina We..."
1,SpaceX,$100.30,12/1/12,United States,Other,"Founders Fund, Draper, Rothenberg Ventures"
2,Stripe,$95.00,1/23/14,United States,Fintech,"Khosla Ventures, Lowercase Capital, capitalG"
3,Klarna,$45.60,12/12/11,Sweden,Fintech,"Institutional Venture Partners, Sequoia Capita..."
4,Canva,$40.00,1/8/18,Australia,Internet software & services,"Sequoia Capital, Blackbird Ventures, Matrix Pa..."

Check the features' data types:

In [36]:
uni_df.dtypes

Company             object
Valuation ($B)      object
Date Added          object
Country             object
Category            object
Select Investors    object
dtype: object

Based on the contextual meaning of data in the set, it is better to transform Valuation and Date Added to float and date formats respectively to have more flexibility working with them later.

In [37]:
uni_df['Valuation ($B) '] = uni_df['Valuation ($B) '].str.replace('$','').astype('float')
uni_df['Date Added'] = pd.to_datetime(uni_df['Date Added'])
uni_df.dtypes

/var/folders/4k/p82h_fr17cj28l5580_79wp80000gn/T/ipykernel_65642/1185216977.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  uni_df['Valuation ($B) '] = uni_df['Valuation ($B) '].str.replace('$','').astype('float')

Company                     object
Valuation ($B)             float64
Date Added          datetime64[ns]
Country                     object
Category                    object
Select Investors            object
dtype: object

Check categorical values to make sure there are no mistakes:

In [38]:
print(uni_df['Category'].unique(), '\n Unique number of Category values',len(uni_df['Category'].unique()))

['Artificial intelligence' 'Other' 'Fintech'
 'Internet software & services' 'Supply chain, logistics, & delivery'
 'Data management & analytics' 'Edtech' 'E-commerce & direct-to-consumer'
 'Hardware' 'Auto & transportation' 'Health' 'Consumer & retail'
 'Finttech' 'Travel' 'Cybersecurity' 'Mobile & telecommunications'
 'Artificial Intelligence']
 Unique number of Category values 17

There are two pairs of logically equal values with some mistakes in spelling:
- 'Artificial intelligence' / 'Artificial Intelligence'
- 'Fintech' / 'Finttech'

Replace them with uniform values.

In [39]:
uni_df['Category'] = uni_df['Category'].replace('Artificial intelligence', 'Artificial Intelligence')
uni_df['Category'] = uni_df['Category'].replace('Finttech', 'Fintech')
print(uni_df['Category'].unique(), '\n Unique number of Category values after cleansing',len(uni_df['Category'].unique()))

['Artificial Intelligence' 'Other' 'Fintech'
 'Internet software & services' 'Supply chain, logistics, & delivery'
 'Data management & analytics' 'Edtech' 'E-commerce & direct-to-consumer'
 'Hardware' 'Auto & transportation' 'Health' 'Consumer & retail' 'Travel'
 'Cybersecurity' 'Mobile & telecommunications']
 Unique number of Category values after cleansing 15

Same with the countries:

In [40]:
print(uni_df['Country'].unique(), '\n Unique number of Country values',len(uni_df['Country'].unique()))
uni_df['Country'] = uni_df['Country'].replace('United States,', 'United States of America')
uni_df['Country'] = uni_df['Country'].replace('United States', 'United States of America')
uni_df['Country'] = uni_df['Country'].replace('Indonesia,', 'Indonesia')
print('\n Unique number of Country values after cleansing',len(uni_df['Country'].unique()))

['China' 'United States' 'Sweden' 'Australia' 'United Kingdom' 'Brazil'
 'Hong Kong' 'India' 'Singapore' 'Germany' 'Mexico' 'Indonesia' 'Canada'
 'Turkey' 'South Korea' 'Netherlands' 'Israel' 'Colombia' 'Belgium'
 'Estonia' 'Lithuania' 'France' 'Austria' 'Ireland' 'Vietnam'
 'United Arab Emirates' 'Switzerland' 'Argentina' 'Japan' 'Luxembourg'
 'Nigeria' 'Santa Clara' 'Finland' 'Philippines' 'Denmark' 'Senegal'
 'Bermuda' 'Norway' 'South Africa' 'Chile' 'Thailand' 'Spain' 'Malaysia'
 'Czech Republic' 'Croatia' 'United States,' 'Indonesia,']
 Unique number of Country values 47

 Unique number of Country values after cleansing 45

Set categorical features as category data type:

In [41]:
uni_df['Country'] = uni_df['Country'].astype("category")
uni_df['Category'] = uni_df['Category'].astype("category")
uni_df.dtypes

Company                     object
Valuation ($B)             float64
Date Added          datetime64[ns]
Country                   category
Category                  category
Select Investors            object
dtype: object

Check missing values:

In [42]:
missing_data = uni_df.isnull()

for column in missing_data.columns.values.tolist(): # prints how many missing values there is
    print(column)
    print (missing_data[column].value_counts())
    print("")

Company
False    917
Name: Company, dtype: int64

Valuation ($B)
False    917
Name: Valuation ($B) , dtype: int64

Date Added
False    917
Name: Date Added, dtype: int64

Country
False    917
Name: Country, dtype: int64

Category
False    917
Name: Category, dtype: int64

Select Investors
False    916
True       1
Name: Select Investors, dtype: int64

There is one company with missing investors list:

In [43]:
print(uni_df[missing_data['Select Investors']])

              Company  Valuation ($B)  Date Added Country  \
705  LinkSure Network              1.0 2015-01-01   China

                        Category Select Investors
705  Mobile & telecommunications              NaN

Based on publically available information, LinkSure Network's investors are Eight Roads Ventures, Haitong Leading Capital Management, and Northern Light Venture Capital.

In [44]:
uni_df.loc[705, 'Select Investors'] = "Eight Roads Ventures, Haitong Leading Capital Management, Northern Light Venture Capital"
print(uni_df[missing_data['Select Investors']])

              Company  Valuation ($B)  Date Added Country  \
705  LinkSure Network              1.0 2015-01-01   China

                        Category  \
705  Mobile & telecommunications

                                      Select Investors
705  Eight Roads Ventures, Haitong Leading Capital ...

In [45]:
uni_df.to_csv(path_or_buf='unicorn_companies_cleansed.csv')